<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <p class = "fs">Siga nossas redes sociais</p>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      target="_blank" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      target="_blank" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Alexandre</a>
  </div>
  <!-- Copyright -->
</footer>