#img-bg{

    min-height: 1080px;
    background: url("https://i.pinimg.com/originals/30/dc/98/30dc98ff553f6129b49d98fcf53c24bd.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    
}  