
#img-bg{

    min-height: 1080px;
    background: url("https://wallpaperaccess.com/full/334910.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}  

